{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Homepage content.</h1>
            </div>
        </div>
    </div>
    
{% endblock %}
