{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Dive!</h1>
                Here you can browse through a number of diving sites and clubs. <br>
                You can also register to comment on a spot, add a missing one, as well as create your own online logbook!
            </div>
        </div>
    </div>
    
{% endblock %}
