{% extends 'FOSUserBundle/views/layout.html.twig' %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <h1>Create your diver account:</h1>
    <div class="well">
        <form action="{{ path('diver_registration') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
            {{ form(form) }}
        </form>
    </div>
{% endblock fos_user_content %}