{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Add a diving spot :</h1>
                <div class="well">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}