{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Diving sites list:</h1>
                
                <div class="list-group row">
                    {% for spot in listSpot %}
                        <a href="{{ path('dive_spot_view', {'id': spot.id}) }}" class="list-group-item col-md-6">
                            <h4 class="list-group-item-heading">{{ spot.name }} <small>| {{spot.country|countryName }}</small></h4>
                            <p class="list-group-item-text">{{ spot.description }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}