{% extends 'base.html.twig' %}
    
{% block body %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Diving sites map:</h1>
                <div id="map-canvas" style="width: 100%; height: 550px"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnBbcWFw98cfTHtJ2w_g8jq2_MV4gc0Uc">
    </script>
    <script>
        function downloadUrl(url, callback) {
            var request = window.ActiveXObject ?
                new ActiveXObject('Microsoft.XMLHTTP') :
                new XMLHttpRequest;
                
            request.onreadystatechange = function() {
                if (request.readyState == 4) {
                    request.onreadystatechange = doNothing;
                    callback(request, request.status);
                }
            };
            
            request.open('GET', url, true);
            request.send(null);
        }
        function doNothing() {}
        function bindInfoWindow(marker, map, infoWindow, html) {
            google.maps.event.addListener(marker, 'click', function(){
                infoWindow.setContent(html);
                infoWindow.open(map, marker);
            });
        }
    </script>
    <script>
        function initialize() {
            var mapOptions = {
               center: { lat: 15, lng: 0},
               zoom: 2,
               mapTypeId: google.maps.MapTypeId.SATELLITE,
               panControl: false,
               zoomControl: false,
               scaleControl: true,
               mapTypeControl: false,
               streetViewControl: false,
            };
           var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
           var infoWindow = new google.maps.InfoWindow;
           
           downloadUrl("{{ asset('spotMap.xml') }}", function(data) {
                var xml = data.responseXML;
                var markers = xml.documentElement.getElementsByTagName("spot");
                for (var i = 0; i < markers.length; i++) {
                    var name = markers[i].getAttribute("name");
                    var maxDepth = markers[i].getAttribute("maxDepth");
                    var description = markers[i].getAttribute("description");
                    var point = new google.maps.LatLng(
                        parseFloat(markers[i].getAttribute("lat")),
                        parseFloat(markers[i].getAttribute("lng")));
                    var html = "<b>" + name + "</b><br>" + description;
                    var marker = new google.maps.Marker({
                        map: map,
                        position: point,
                    });
                    bindInfoWindow(marker, map, infoWindow, html);
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}